<div class="text-center">
    <h1 class="display-4">Soy Leonardo Ramírez</h1>
    <h2>Futuro desarrollador full stack especializado en tecnologias .NET y JS</h2>

    <img id="foto" src="~/images/profile.jpg" alt="Foto de Leo" />
</div>

<div class="text-center">
    <img id="img-dotnet" src="~/images/dotnetImagen.png" alt="imagenDotNet">
</div>


<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la binvenida a mi portafolio</h1>
        <p>
            He estado desarrollando software profesionalmente desde 2023. He tenido el privilegio de trabajar para una empresa donde tuve la oportunidad de realizar proyectos para empresas como Orange, Seguros Universal, Golds Gym, Banco BHD; todo esto trabajando principalmente aplicaciones de C#/ASP.Net, SQL Server, Entity Framework, JavaScript, entre otras tecnologías.
        </p>
    </div>
</div>