@model IEnumerable<Proyecto>

@{
    ViewData["Title"] = "Proyectos";
}

<div class="container justify-content-center text-center">
    <h1>Mis proyectos</h1>
    <p>Aqui encontrarás todo los proyectos en lso que he trabajado</p>

</div>

<partial name="_ListadoProyectos" model="Model"/>